<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
  	<mapping class="com.epam.lab.news.model.News"/>
  	<mapping class="com.epam.lab.news.model.NewsComment"/>
  	<mapping class="com.epam.lab.news.model.NewsAuthor"/>
  	<mapping class="com.epam.lab.news.model.NewsTag"/>
  </session-factory>
</hibernate-configuration>
